:host {
  .mat-card-title{
    text-align: center;
  }
}
.main-container{

    height: 100vh;
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    .form-container{
        padding: 24px;
        width: 40%;
    }
    
   
}

@media only screen and (max-width){
     .main-container{
        display: flex;
     }
     .form-container{
        width: 100%;
    }
}
